@mixin appearance ($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}
@mixin clear{
  @include appearance(none);
  outline: none;
  border: none;
  box-shadow: none;
}

.timer{
  &__input, &__button{
    @include clear;
  }
  display: inline-flex;
  flex-direction: column;
  width: 22.5rem;
  min-height: 12rem;
  background-color: var(--color-secondary, red);
  &__input{
    font-family: 'Gotham Pro';
    text-align: center;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--color-main, red);
  }
  &__line {
    display: inline;
    border: none;
    color: var(--color-main, red);
    background-color: var(--color-main, red);
    height: 1px;
    width: 100%;
    margin: 0;
  }
  &__buttons_container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__button{
    flex-grow: 1;
    background-color: transparent;
    color: var(--color-main, red);
  }
  &-active{
    --color-main: white;
  }
  &__button-play_pause::after {
    content: 'play_arrow';
  }
  &-active &__button-play_pause::after {
    content: 'pause';
  }

}