@mixin appearance ($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}
@mixin clear{
  @include appearance(none);
  outline: none;
  border: none;
  box-shadow: none;
}

.adder{
  @include clear;
  width: 22.5rem;
  min-height: 12rem;
  background-color: var(--color-secondary, red);
  color: var(--color-main, red);
  font-size: 3.5rem;
}