html{
  font-size: 10px;
  --color-background: #353638;
  --color-main: #9E9E9E;
  --color-secondary: #696969;
}
body{
  font-family: 'Gotham Pro';
  font-size: 2.2rem;
  line-height: 2.1rem;
  color: var(--color-main);
  background-color: var(--color-background);
}